body {
  margin: 0;
  font-family: Roboto, sans-serif;
  background: #0f111a;
  color: #eaeaea;
}

h1,h2,h3 { font-family: Poppins, sans-serif; }

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
}

nav a {
  margin: 0 10px;
  color: #fff;
  text-decoration: none;
}

.btn {
  padding: 10px 18px;
  border-radius: 6px;
}

.primary { background:#ffd700;color:#000; }
.outline { border:1px solid #ffd700;color:#ffd700; }

.hero { padding:100px 20px;text-align:center; }
.section { padding:60px 40px;max-width:1100px;margin:auto; }

.grid {
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
  gap:20px;
}

.card {
  background:#161a2b;
  padding:20px;
  border-radius:10px;
}

.points li 
{ 
  margin:10px 0; 
}

.reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}

.btn:hover {
  transform: scale(1.05);
}





footer {
  text-align:center;
  padding:30px;
  font-size:14px;
  color:#aaa;
}
